---
import websiteConfig from "../../website.config";

interface Props {
  title: string;
  description: string | null;
}

const { title, description } = Astro.props;

const pathname = Astro.url.pathname;
const ogType = pathname === "/" ? "website" : "article";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<title>{title} - {websiteConfig.title}</title>

<link rel="canonical" href={canonicalURL} />

<meta property="og:type" content={ogType} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:site_name" content={websiteConfig.title} />

<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />

{
  description && (
    <Fragment>
      <meta name="description" content={description} />
      <meta property="og:description" content={description} />
      <meta property="twitter:description" content={description} />
    </Fragment>
  )
}
---
